body {
    width:100%;
    text-align: center;
    font-family: Arial, sans-serif;
    margin: 0%;
    padding: 0%;
}

.container-consent {
    width:100%;
    display: flex;
    flex-direction: column;

}

.task-section {
    margin: 0;
    height: 100vh;
    display: flex;
    flex-direction: column;
    /* justify-content: center; */
    align-items: center;
}
.stimu-head {
    height:20vh;
}
.stimu-head h2 {
    font-size:65px;
}
.bin-container {
    display: flex;
    justify-content: center;
    gap: 50px;
    margin-top: 50px;
}
.bin {
    width: 200px;
    height: 200px;
    border: 5px solid;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 20px;
    font-weight: bold;
    cursor: pointer;
    background-size: cover;
    background-position: center;

    text-align: center;
    line-height: 200px;
    margin: 0 20px;
    padding: 10px;
    user-select: none; /* Prevent selection */
}

#yellow-bin {
    background-image: url('./bins/yellow_bin.png');
    border-color: yellow;
}
#red-bin {
    background-image: url('./bins/red_bin.png');
    border-color: red;
}
.drag-item {
    width: 150px;
    cursor: grab;
}


#stimulus-container {
    text-align: center;
    margin: 20px;
}

.drag-item {
    width: 150px;
    cursor: grab;
}

#bins-container {
    display: flex;
    justify-content: center;
    margin-top: 20px;
}

.uq-color {
    background: linear-gradient(to right, #512a8a, #8f2b8a); /* adjust as needed */
    color: white; /* optional for contrast */
}

.uq-text strong {
    font-weight: 1;
}

.uq-text {
    font-family: 'Raleway', sans-serif;
    font-weight: 1; /* light */
}

.full-width-box {
    width:100%;

}
.uq-text strong {
    font-weight: 700;
}

.text-left { 
    text-align:left;
    font-size:1rem;
}

.container-research {
    width:100%;
    min-width: 10px;
    justify-items: center;
    padding:20px 0 20px 0
}
.uq-research {
    width: 50%;
    
}

.uq-button {
    background-color: #1e73be; /* blue button */
    color: white;              /* white text */
    padding: 12px 24px;        /* space inside */
    border: none;              /* no default border */
    border-radius: 5px;        /* rounded corners */
    font-size: 16px;
    font-family: 'Raleway', sans-serif;
    cursor: pointer;
    text-align: center;
    transition: background-color 0.3s ease;
    
}

.uq-button:hover {
    background-color: #1663a3; /* slightly darker on hover */
}

.uq-color-text {
    color: #511b6a;
}

.bin-text-header {
    font-size: 3rem;
}